.containerMain{
    width: 100%;
    min-height:500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerText{
    text-align: center;
    color: rgb(255, 192, 192);
    font-size: 50px;
}