.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
}
.cartTable {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    font-family: 'Montserrat';
    /* background-color: red; */
  }
  
  .thGrayBg {
    background-color: #899DA5;
    
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .cartTable th,.cartTable td {
    padding: 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .cartTable td {
    vertical-align: top;
  }
  
  .product {
    display: flex;
    align-items: center;
  }
  
  .product img {
    margin-right: 30px;
  }
  
  @media (max-width: 768px) {
   .cartTable {
      font-size: 14px;
    }
   .cartTable th,.cartTable td {
      padding: 5px;
    }
  }
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
}
.textHeading h1{
    color: black;
    font-family: 'Montserrat';
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.orderNow{
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderNow button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(204, 109, 102, 0.6);
}

.orderNow button:hover{
    box-shadow: 7px 7px 7px grey;
    color:white;
    background-color:  rgb(204, 102, 102);

}